In [4]:
import requests
import pandas as pd
import numpy as np

from tqdm.auto import tqdm

In [53]:
df = pd.read_excel('./data/sub.xlsx')
print(df.shape)
df.head()

(2039, 13)

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소,역 번호,경도,위도,역 주소(지번주소),신설일자,year,quarter
0,서울교통공사,1호선,동대문역,1,흥인지문 공원,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
1,서울교통공사,1호선,동대문역,2,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
2,서울교통공사,1호선,동대문역,3,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
3,서울교통공사,1호선,동대문역,4,신설동 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
4,서울교통공사,1호선,동대문역,5,청계천 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0

In [50]:
import requests

def get_exit_coordinates_kakao(station_name, api_key):
    url = f'https://dapi.kakao.com/v2/local/search/keyword.json?query={station_name}'
    headers = {"Authorization": f"KakaoAK {api_key}"}
    
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        results = response.json()['documents']
        for result in results:
            print(f"출구 이름: {result['place_name']}, 좌표: ({result['y']}, {result['x']})")
            
    else:
        print("API 요청 실패")

# 예시: 서울역의 출구 정보
api_key = 'efc3b0abd5dd7a662705dc3b1f7091ba'
get_exit_coordinates_kakao('하남시청역 1번출구', api_key)

출구 이름: 하남시청역 5호선 1번출구, 좌표: (37.5421203905348, 127.206515809684)

In [52]:
df[df['역명'].str.endswith('역')]

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소,역 번호,경도,위도,역 주소(지번주소),신설일자,year,quarter
0,서울교통공사,1호선,동대문역,1,흥인지문 공원,서울특별시 종로구 종로 지하302(창신동),155.0,127.007890,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
1,서울교통공사,1호선,동대문역,2,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.007890,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
2,서울교통공사,1호선,동대문역,3,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.007890,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
3,서울교통공사,1호선,동대문역,4,신설동 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.007890,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
4,서울교통공사,1호선,동대문역,5,청계천 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.007890,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2034,경기도 신분당선,신분당선,양재시민의숲역,3,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.038450,NaN,2011-10-28,2011.0,4.0
2035,경기도 신분당선,신분당선,양재시민의숲역,4,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.038450,NaN,2011-10-28,2011.0,4.0
2036,경기도 신분당선,신분당선,양재시민의숲역,5,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.038450,NaN,2011-10-28,2011.0,4.0
2037,경기도 신분당선,신분당선,청계산입구역,1,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28,2011.0,4.0
2038,경기도 신분당선,신분당선,청계산입구역,2,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28,2011.0,4.0

In [54]:
df['search'] = df['역명'] + " " + df['선명'] + " " + df['출구번호'] + "번출구"

In [55]:
import requests
import pandas as pd
from tqdm import tqdm

def get_exit_coordinates_kakao(station_name, api_key):
    url = f'https://dapi.kakao.com/v2/local/search/keyword.json?query={station_name}'
    headers = {"Authorization": f"KakaoAK {api_key}"}
    
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        results = response.json()['documents']
        if results:  # 결과가 있을 경우
            # 첫 번째 결과만 반환 (가장 관련성 높은 결과)
            result = results[0]
            return {
                '검색어': station_name,  # 검색한 지하철역 이름을 함께 저장
                '출구 이름': result['place_name'],
                '위도': result['y'],
                '경도': result['x']
            }
    return {
        '검색어': station_name,  # 검색어와 함께 None 반환
        '출구 이름': None,
        '위도': None,
        '경도': None
    }  # 결과가 없을 경우

# API 키 설정
api_key = 'efc3b0abd5dd7a662705dc3b1f7091ba'

# 결과를 저장할 리스트 초기화
exit_data = []

# df_concat의 각 출구에 대해 좌표 정보 가져오기
for search_term in tqdm(df['search'], desc="진행 상황"):  # tqdm을 통해 진행 상황을 표시
    exit_info = get_exit_coordinates_kakao(search_term, api_key)
    exit_data.append(exit_info)  # 결과를 리스트에 추가

# exit_data를 데이터프레임으로 변환
df_exit_info = pd.DataFrame(exit_data)

# 새로운 데이터프레임 확인
df_exit_info.head()

# 필요한 경우 파일로 저장
# df_exit_info.to_csv('exit_coordinates.csv', index=False)

진행 상황: 100%|██████████| 2039/2039 [02:25<00:00, 14.02it/s]

             검색어          출구 이름                  위도                  경도
0  동대문역 1호선 1번출구  동대문역 1호선 1번출구   37.57179013955896   127.0106293000793
1  동대문역 1호선 2번출구  동대문역 1호선 2번출구    37.5720062789057    127.011682076016
2  동대문역 1호선 3번출구  동대문역 1호선 3번출구  37.572123356760564  127.01219148794848
3  동대문역 1호선 4번출구  동대문역 1호선 4번출구   37.57190710855229  127.01228201130664
4  동대문역 1호선 5번출구  동대문역 1호선 5번출구  37.571781021132246  127.01177259928754

In [66]:
df_exit_info[df_exit_info['출구 이름'].isnull()].head()

                    검색어 출구 이름    위도    경도
514       교대역 3호선 11번출구  None  None  None
530   남부터미널역 3호선 4-1번출구  None  None  None
531   남부터미널역 3호선 4-2번출구  None  None  None
683        홍제역 3호선 5번출구  None  None  None
1107     왕십리역 5호선 14번출구  None  None  None

In [184]:
import requests

def get_exit_coordinates_kakao(station_name, api_key):
    url = f'https://dapi.kakao.com/v2/local/search/keyword.json?query={station_name}'
    headers = {"Authorization": f"KakaoAK {api_key}"}
    
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        results = response.json()['documents']
        for result in results:
            print(f"출구 이름: {result['place_name']}, 좌표: ({result['y']}, {result['x']})")
            
    else:
        print("API 요청 실패")

# 예시: 서울역의 출구 정보
api_key = 'efc3b0abd5dd7a662705dc3b1f7091ba'
get_exit_coordinates_kakao('신사역 7번출구', api_key)

출구 이름: 신사역 3호선 7번출구, 좌표: (37.5165396474338, 127.019976033975)

In [63]:
df_exit_info.to_csv('./data/exit_corrds.csv', index=False)
df_exit_info.to_excel('./data/exit_corrds.xlsx', index=False)

In [90]:
df_merge = pd.merge(df, df_exit_info, how='left', left_on='search', right_on='검색어')

In [96]:
df_final = df_merge.drop(['철도운영기관명', '선명', '역명', '출구별 주요시설명', '출구번호',
               '역사도로명주소', '역 주소(지번주소)', '경도_x', '위도_x', '역 번호', '신설일자', '검색어'], axis=1).copy()

In [102]:
df_final.columns = ['year', 'quarter', 'search', '결과', '위도', '경도']

In [103]:
df_final = df_final[['search', '결과', '위도', '경도', 'year', 'quarter']]
df_final

,search,결과,위도,경도,year,quarter
0,동대문역 1호선 1번출구,동대문역 1호선 1번출구,37.57179013955896,127.0106293000793,1974.0,3.0
1,동대문역 1호선 2번출구,동대문역 1호선 2번출구,37.5720062789057,127.011682076016,1974.0,3.0
2,동대문역 1호선 3번출구,동대문역 1호선 3번출구,37.572123356760564,127.01219148794848,1974.0,3.0
3,동대문역 1호선 4번출구,동대문역 1호선 4번출구,37.57190710855229,127.01228201130664,1974.0,3.0
4,동대문역 1호선 5번출구,동대문역 1호선 5번출구,37.571781021132246,127.01177259928754,1974.0,3.0
...,...,...,...,...,...,...
2038,양재시민의숲역 신분당선 3번출구,양재시민의숲역 신분당선 3번출구,37.46992568035156,127.03936202404739,2011.0,4.0
2039,양재시민의숲역 신분당선 4번출구,양재시민의숲역 신분당선 4번출구,37.46925903007383,127.03906776194451,2011.0,4.0
2040,양재시민의숲역 신분당선 5번출구,양재시민의숲역 신분당선 5번출구,37.46952043107736,127.03874007130662,2011.0,4.0
2041,청계산입구역 신분당선 1번출구,청계산입구역 신분당선 1번출구,37.44897121448923,127.05432523159816,2011.0,4.0
2042,청계산입구역 신분당선 2번출구,청계산입구역 신분당선 2번출구,37.44769145102323,127.05502497328179,2011.0,4.0

In [108]:
df_final[df_final['search'] != df_final['결과']].to_excel('./data/eye.xlsx', index=False)

In [186]:
df_1 = df_final[df_final['search'] == df_final['결과']]

In [188]:
df_2 = pd.read_excel('./data/eye.xlsx')

In [190]:
df_concat = pd.concat([df_1, df_2], axis=0)

In [191]:
df_concat.head()

,search,결과,위도,경도,year,quarter
0,동대문역 1호선 1번출구,동대문역 1호선 1번출구,37.57179013955896,127.0106293000793,1974.0,3.0
1,동대문역 1호선 2번출구,동대문역 1호선 2번출구,37.5720062789057,127.011682076016,1974.0,3.0
2,동대문역 1호선 3번출구,동대문역 1호선 3번출구,37.572123356760564,127.01219148794848,1974.0,3.0
3,동대문역 1호선 4번출구,동대문역 1호선 4번출구,37.57190710855229,127.01228201130664,1974.0,3.0
4,동대문역 1호선 5번출구,동대문역 1호선 5번출구,37.571781021132246,127.01177259928754,1974.0,3.0

In [196]:
df_concat = df_concat.sort_values(by=['year', 'quarter', 'search'])

In [201]:
drop_idx = df_concat[df_concat['결과'].isnull()].index.tolist()

In [202]:
df_concat.drop(index=drop_idx, inplace=True)

In [203]:
df_concat.reset_index(drop=True, inplace=True)

In [205]:
df_concat.to_csv('./data/sub.csv', index=False)