In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./data/sub_merge.xlsx')
df.head()

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역번호,역사도로명주소,운영노선,역 번호,경도,위도,역 주소(지번주소),역 주소(도로명 주소),신설일자
0,서울교통공사,1호선,동대문,1,흥인지문 공원,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0
1,서울교통공사,1호선,동대문,10,한방약국가,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0
2,서울교통공사,1호선,동대문,2,창신동·숭인동,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0
3,서울교통공사,1호선,동대문,3,창신동·숭인동,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0
4,서울교통공사,1호선,동대문,4,신설동 방면,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0

In [6]:
df_not = df[df['출구번호'].isnull()]
df_exit = df[df['출구번호'].notnull()]

In [11]:
df_not.to_excel('./data/not_exit.xlsx')

In [15]:
df_not = pd.read_excel('./data/not_exit.xlsx')
df_not.head()

,Unnamed: 0,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역번호,역사도로명주소,운영노선,역 번호,경도,위도,역 주소(지번주소),역 주소(도로명 주소),신설일자
0,182,서울교통공사,2호선,도림천,2,NaN,2341,서울특별시 구로구 경인로67길 160(신도림동),2호선,247.0,126.882586,37.514759,서울특별시 구로구 신도림동 323-16 도림천역(2호선),서울특별시 구로구 경인로67길 160(신도림동),19920522.0
1,281,서울교통공사,2호선,신답,1,NaN,2112,서울특별시 성동구 천호대로 232(용답동),2호선,245.0,127.056348,37.561470,서울특별시 성동구 용답동 129-2 신답역(2호선),서울특별시 성동구 천호대로 232(용답동),19801031.0
2,298,서울교통공사,2호선,신도림,6,NaN,0234,서울특별시 구로구 새말로 지하 117-21(신도림동),2호선,234.0,126.891222,37.508815,서울특별시 구로구 신도림동 460-26 신도림역(2호선),서울특별시 구로구 새말로 지하 117-21(신도림동),19840522.0
3,307,서울교통공사,2호선,신정네거리,4,NaN,2343,서울특별시 양천구 중앙로 지하261(신정동),2호선,249.0,126.852849,37.520218,서울특별시 양천구 신정동 1231 신정네거리역(2호선),서울특별시 양천구 중앙로 지하261(신정동),19960229.0
4,320,서울교통공사,2호선,양천구청,2,NaN,2342,서울특별시 양천구 목동로3길 지하33(신정동),2호선,248.0,126.865193,37.512194,서울특별시 양천구 신정동 276-7 양천구청역(2호선),서울특별시 양천구 목동로3길 지하33(신정동),19920522.0

In [19]:
df_not.drop('Unnamed: 0', axis=1, inplace=True)

In [21]:
df_not['출구번호'] = df_not['출구번호'].astype('int')

In [22]:
def replicate_rows(row):
    return pd.DataFrame([row] * row['출구번호'])

# 각 행을 출구번호에 따라 복제
result = pd.concat([replicate_rows(row) for _, row in df_not.iterrows()], ignore_index=True)
result['출구번호'] = result.groupby(['철도운영기관명', '선명', '역명', '역사도로명주소']).cumcount() + 1

result.head()

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역번호,역사도로명주소,운영노선,역 번호,경도,위도,역 주소(지번주소),역 주소(도로명 주소),신설일자
0,서울교통공사,2호선,도림천,1,NaN,2341,서울특별시 구로구 경인로67길 160(신도림동),2호선,247.0,126.882586,37.514759,서울특별시 구로구 신도림동 323-16 도림천역(2호선),서울특별시 구로구 경인로67길 160(신도림동),19920522.0
1,서울교통공사,2호선,도림천,2,NaN,2341,서울특별시 구로구 경인로67길 160(신도림동),2호선,247.0,126.882586,37.514759,서울특별시 구로구 신도림동 323-16 도림천역(2호선),서울특별시 구로구 경인로67길 160(신도림동),19920522.0
2,서울교통공사,2호선,신답,1,NaN,2112,서울특별시 성동구 천호대로 232(용답동),2호선,245.0,127.056348,37.561470,서울특별시 성동구 용답동 129-2 신답역(2호선),서울특별시 성동구 천호대로 232(용답동),19801031.0
3,서울교통공사,2호선,신도림,1,NaN,0234,서울특별시 구로구 새말로 지하 117-21(신도림동),2호선,234.0,126.891222,37.508815,서울특별시 구로구 신도림동 460-26 신도림역(2호선),서울특별시 구로구 새말로 지하 117-21(신도림동),19840522.0
4,서울교통공사,2호선,신도림,2,NaN,0234,서울특별시 구로구 새말로 지하 117-21(신도림동),2호선,234.0,126.891222,37.508815,서울특별시 구로구 신도림동 460-26 신도림역(2호선),서울특별시 구로구 새말로 지하 117-21(신도림동),19840522.0

In [23]:
result.shape

(349, 14)

In [24]:
df_exit.shape

(1694, 14)

In [35]:
df_concat = pd.concat([df_exit, result], axis=0)

In [36]:
df_concat.head(2)

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역번호,역사도로명주소,운영노선,역 번호,경도,위도,역 주소(지번주소),역 주소(도로명 주소),신설일자
0,서울교통공사,1호선,동대문,1,흥인지문 공원,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0
1,서울교통공사,1호선,동대문,10,한방약국가,0128,서울특별시 종로구 종로 지하302(창신동),1호선,155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),서울특별시 종로구 종로 지하302(창신동),19740815.0

In [37]:
df_concat.drop(['운영노선', '역번호', '역 주소(도로명 주소)'], axis=1, inplace=True)

In [44]:
np.where(df_concat['신설일자'].dtype('float64'), df_concat['신설일자'].astype('int'), np.nan)

TypeError: 'numpy.dtypes.Float64DType' object is not callable

In [52]:
df_concat['신설일자'].fillna(0, inplace=True)

In [53]:
df_concat['신설일자'].isnull().sum()

0

In [54]:
df_concat['신설일자'] = df_concat['신설일자'].astype('int')

In [62]:
df_concat['신설일자'] = df_concat['신설일자'].replace(0, pd.NaT)

In [65]:
df_concat['신설일자'] = pd.to_datetime(df_concat['신설일자'], format="%Y%m%d")

In [69]:
df_concat[df_concat['신설일자'] >= '2011-01-01']

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소,역 번호,경도,위도,역 주소(지번주소),신설일자
1595,서울9호선,9호선,마곡나루,1,NaN,서울특별시 강서구 마곡중앙5로 2,905.0,126.829497,37.567336,NaN,2014-05-24
1596,서울9호선,9호선,마곡나루,2,NaN,서울특별시 강서구 마곡중앙5로 2,905.0,126.829497,37.567336,NaN,2014-05-24
1597,서울9호선,9호선,마곡나루,3,NaN,서울특별시 강서구 마곡중앙5로 2,905.0,126.829497,37.567336,NaN,2014-05-24
1598,서울9호선,9호선,마곡나루,4,NaN,서울특별시 강서구 마곡중앙5로 2,905.0,126.829497,37.567336,NaN,2014-05-24
1599,서울9호선,9호선,마곡나루,5,NaN,서울특별시 강서구 마곡중앙5로 2,905.0,126.829497,37.567336,NaN,2014-05-24
...,...,...,...,...,...,...,...,...,...,...,...
344,경기도 신분당선,신분당선,양재시민의숲(매헌),3,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28
345,경기도 신분당선,신분당선,양재시민의숲(매헌),4,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28
346,경기도 신분당선,신분당선,양재시민의숲(매헌),5,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28
347,경기도 신분당선,신분당선,청계산입구,1,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28
348,경기도 신분당선,신분당선,청계산입구,2,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28

In [70]:
df_concat.reset_index(drop=True, inplace=True)

In [71]:
df_concat

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소,역 번호,경도,위도,역 주소(지번주소),신설일자
0,서울교통공사,1호선,동대문,1,흥인지문 공원,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15
1,서울교통공사,1호선,동대문,10,한방약국가,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15
2,서울교통공사,1호선,동대문,2,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15
3,서울교통공사,1호선,동대문,3,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15
4,서울교통공사,1호선,동대문,4,신설동 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15
...,...,...,...,...,...,...,...,...,...,...,...
2038,경기도 신분당선,신분당선,양재시민의숲(매헌),3,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28
2039,경기도 신분당선,신분당선,양재시민의숲(매헌),4,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28
2040,경기도 신분당선,신분당선,양재시민의숲(매헌),5,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28
2041,경기도 신분당선,신분당선,청계산입구,1,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28
2042,경기도 신분당선,신분당선,청계산입구,2,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28

In [75]:
def convert_exit_number(exit_num):
    # 먼저 exit_num을 문자열로 변환
    exit_num = str(exit_num)
    
    if '-' in exit_num:  # '2-1'과 같은 경우
        return float(exit_num.replace('-', '.'))
    else:  # 그 외의 경우
        return float(exit_num)

# 출구 번호를 숫자와 문자열로 나누어 처리
df_concat['출구번호_변환'] = df_concat['출구번호'].apply(convert_exit_number)

In [80]:
df_concat.sort_values(by=['선명', '역명', '출구번호_변환'], inplace=True)

In [81]:
df_concat.drop('출구번호_변환', axis=1, inplace=True)

In [84]:
df_concat['year'] = df_concat['신설일자'].dt.year
df_concat['quarter'] = df_concat['신설일자'].dt.quarter

In [85]:
df_concat.to_csv('./data/before_lat_lon_sub.csv', index=False)

In [97]:
df_concat

,철도운영기관명,선명,역명,출구번호,출구별 주요시설명,역사도로명주소,역 번호,경도,위도,역 주소(지번주소),신설일자,year,quarter
0,서울교통공사,1호선,동대문,1,흥인지문 공원,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
2,서울교통공사,1호선,동대문,2,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
3,서울교통공사,1호선,동대문,3,창신동·숭인동,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
4,서울교통공사,1호선,동대문,4,신설동 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
5,서울교통공사,1호선,동대문,5,청계천 방면,서울특별시 종로구 종로 지하302(창신동),155.0,127.00789,37.565145,서울특별시 종로구 창신동 492-1 동대문역(1호선),1974-08-15,1974.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,경기도 신분당선,신분당선,양재시민의숲(매헌),3,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28,2011.0,4.0
2039,경기도 신분당선,신분당선,양재시민의숲(매헌),4,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28,2011.0,4.0
2040,경기도 신분당선,신분당선,양재시민의숲(매헌),5,NaN,서울특별시 서초구 매헌로 지하 116,4309.0,37.469903,127.03845,NaN,2011-10-28,2011.0,4.0
2041,경기도 신분당선,신분당선,청계산입구,1,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28,2011.0,4.0
2042,경기도 신분당선,신분당선,청계산입구,2,NaN,서울특별시 서초구 청계산로 지하 179,4310.0,37.448383,127.054678,서울특별시 서초구 신원동 270-25,2011-10-28,2011.0,4.0

In [129]:
import requests

def get_exit_coordinates_kakao(station_name):
    api_key = 'efc3b0abd5dd7a662705dc3b1f7091ba'
    url = f'https://dapi.kakao.com/v2/local/search/keyword.json?query={station_name}'
    headers = {"Authorization": f"KakaoAK {api_key}"}
    
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        results = response.json()['documents']
        for result in results:
            print(f"출구 이름: {result['place_name']}, 좌표: ({result['y']}, {result['x']})")
            
    else:
        print("API 요청 실패")

# 예시: 서울역의 출구 정보
get_exit_coordinates_kakao('청량리역 1호선 1번출구')

출구 이름: 청량리역 1호선 1번출구, 좌표: (37.5796394516189, 127.043019786221)

In [121]:
df_concat['출구번호'] = df_concat['출구번호'].astype('str')

In [125]:
df_concat['search'] = df_concat['역명'] + " " + df_concat['선명'] + " " + df_concat['출구번호'] + "번출구"

In [ ]:
from tqdm.auto import tqdm

In [126]:
import requests
import pandas as pd

def get_exit_coordinates_kakao(station_name, api_key):
    url = f'https://dapi.kakao.com/v2/local/search/keyword.json?query={station_name}'
    headers = {"Authorization": f"KakaoAK {api_key}"}
    
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        results = response.json()['documents']
        if results:  # 결과가 있을 경우
            # 첫 번째 결과만 반환 (가장 관련성 높은 결과)
            result = results[0]
            return {
                '출구 이름': result['place_name'],
                '위도': result['y'],
                '경도': result['x']
            }
    return None  # 결과가 없을 경우

# API 키 설정
api_key = 'efc3b0abd5dd7a662705dc3b1f7091ba'

# 결과를 저장할 리스트 초기화
exit_data = []

# df_concat의 각 출구에 대해 좌표 정보 가져오기
for search_term in df_concat['search']:
    exit_info = get_exit_coordinates_kakao(search_term, api_key)
    if exit_info:
        exit_data.append(exit_info)

# exit_data를 데이터프레임으로 변환
df_exit_info = pd.DataFrame(exit_data)

# 새로운 데이터프레임 저장
# df_exit_info.to_csv('exit_coordinates.csv', index=False)

df_exit_info.head()

           출구 이름                  위도                  경도
0  청량리역 1호선 1번출구    37.5796394516189    127.043019786221
1  청량리역 1호선 2번출구   37.58068366587175  127.04552236204563
2  청량리역 1호선 3번출구  37.580881700114354   127.0459979723405
3  청량리역 1호선 4번출구  37.580449152515094   127.0461788441238
4  청량리역 1호선 5번출구    37.5799268792411    127.045397369849

In [132]:
df_exit_info[df_exit_info['출구 이름'].isin(['동대문'])]

Empty DataFrame
Columns: [출구 이름, 위도, 경도]
Index: []